@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global customizations for font and colors */
@font-face {
  font-family: "CustomFont";
  src: url("/fonts/dark-poestry.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Adjustments to body styling */
body {
  font-family: "CustomFont", sans-serif;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))
  ); /* Transition from start to end background colors */
}

/* Tailwind utility classes for dark mode adjustments */
.dark\:bg-black {
  background-color: rgb(
    var(--background-end-rgb)
  ); /* Dark mode background color */
}

/* Override CSS for Google Maps and other custom elements */
a[href^="http://maps.google.com/maps"],
a[href^="https://maps.google.com/maps"],
a[href^="https://www.google.com/maps"]
{
  display: none !important;
}

.gm-bundled-control .gmnoprint {
  display: block;
}

.gmnoprint:not(.gm-bundled-control) {
  display: none;
}
